// colors
$blue: #648cff;
$dark-blue: #4466c9;
$orange: #fc6a42;
$grey: #e1e1e1;
$light-grey: #999999;
$black: #353854;

// usage
$section-title-color: $blue;
$section-subtitle-color: $light-grey;