.download{
    background-color: $blue;

    &-wrapper{
        padding-top: 8rem;
    }

    &-content{
        &-left{
            &-title{
                margin-bottom: 2rem;

                h2{
                    margin: 0;
                    color: #ffffff;
                    font-size: 36px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            &-text{
                margin-bottom: 2rem;

                p{
                    margin: 0;
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }

        &-right{
            display: flex;
            align-items: flex-end;
            
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}